<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Metadatos de {{ nombre_archivo }}</title>
    
</head>
<body>
    <h1>Metadatos de {{ nombre_archivo }}</h1>
    <h3> A continuación se muestran de manera sencilla algunos de los metadatos obtenidos con la herramienta.</h3>
    <h4>
        1) Punto de contacto: {{datos_1}} <br>
        2) Version: {{datos_2}}<br>
        3) Fuente: {{datos_3}}<br>
        5)Fecha de modificación: {{datos_5}}<br>
        6)Fecha de creación: {{datos_6}}<br>
        7)Derechos de acceso: {{datos_7}}<br>
        8)Palabra Clave: {{datos_8}}<br>
        9)Página web: {{datos_9}}<br>
        10)Identificador: {{datos_10}}<br>
        11)Título: {{datos_11}}<br>
        12)Tema: {{datos_12}}
    </h4>
    
</body>
</html>